
body{
    background-color: #0d1117;

}

i {
    margin-right: 10px;
}


h1,h2,h3,h4,h5,h6 {
    font-family: playfair-regular;
}

p, li, strong{
    font-family: playfair-regular;
}

.nav-container > * {
    font-family: gidugu-regular;
    font-size: 22px;
}


.dropdown-menu > a {
    font-family: gidugu-regular;
    font-size: 18px;
}



#avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    max-width: 250px;  
    border-radius: 25px;
    border: 2px solid #333;
    width: -webkit-fill-available;
}



#resume{
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    
    width: max-content;
    height: max-content;
    max-width: 72vw;
    min-width: 55vw;
    margin: auto;
    background-color: #251D3A;
    color: #fff;
    border-radius: 25px;
    margin-bottom: 40px;
}

#resume-cards {
    background-color: #2A2550; 
    padding: 20px; 
    border-radius: 25px;
}

#resume_italic {
    font-family: archivo-italic;
    font-size: 12px;
}

@font-face {
    font-family: gidugu-regular;
    src: url(../ttf/Gidugu-Regular.ttf);
}

@font-face {
    font-family: playfair-italic;
    src: url(../ttf/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: playfair-regular;
    src: url(../ttf/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: cormorant-medium;
    src: url(../ttf/Cormorant-Medium.otf);
}

@font-face {
    font-family: archivo-bold;
    src: url(../ttf/Archivo-Bold.ttf);
}

@font-face {
    font-family: archivo-italic;
    src: url(../ttf/Archivo-Italic.ttf);
}

@font-face {
    font-family: archivo-regular;
    src: url(../ttf/Archivo-Regular.ttf);
}



.backglow {
    box-shadow:
    0 0 60px 30px rgb(98, 81, 255),  /* inner white */
    0 0 100px 60px rgb(132, 0, 255), /* middle magenta */
    0 0 10000px 10000px rgb(0, 0, 0); /* outer cyan */

}