
body{
    background-color: #0d1117;

}

i {
    margin-right: 10px;
}

#resume{
    padding: 50px;
    width: max-content;
    height: max-content;
    max-width: 60vw;
    /* min-width: 500px; */
    margin: auto;
    background-color: #251D3A;
    color: #fff;
    border-radius: 25px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: archivo-bold;
}

p, li{
    font-family: archivo-regular;
}



#resume-cards{
    background-color: #2A2550; 
    padding: 20px; 
    border-radius: 25px;
}


@font-face {
    font-family: cormorant-medium;
    src: url(../ttf/Cormorant-Medium.otf);
}

@font-face {
    font-family: archivo-bold;
    src: url(../ttf/Archivo-Bold.ttf);
}

@font-face {
    font-family: archivo-italic;
    src: url(../ttf/Archivo-Italic.ttf);
}

@font-face {
    font-family: archivo-regular;
    src: url(../ttf/Archivo-Regular.ttf);
}


#resume_italic {
    font-family: archivo-italic;
}


.backglow {
    box-shadow:
    0 0 60px 30px rgb(98, 81, 255),  /* inner white */
    0 0 100px 60px rgb(132, 0, 255), /* middle magenta */
    0 0 10000px 10000px rgb(0, 0, 0); /* outer cyan */

}